<p-table [columns]="cols" [value]="cars" selectionMode="single" [(selection)]="selectedCar"
         (onRowSelect)="prueba($event)"
         dataKey="name">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td>{{rowData.name}}</td>
      <td>{{rowData.brand}}</td>
    </tr>
  </ng-template>
</p-table>
