<div class="container">
  <!--  <app-button>HOLA</app-button>-->


  <button (click)="flagShowGallery = !flagShowGallery">{{flagShowGallery ? 'Show table' : 'Show gallery'}}</button>


  <app-digimons-gallery *ngIf="flagShowGallery" [digimons]="digimons"></app-digimons-gallery>

  <app-digimons-table-basic *ngIf="!flagShowGallery" [digimons]="digimons"></app-digimons-table-basic>


  <!--  <app-digimons-gallery *ngIf="flagShowGallery else digimonsTableBasic" [digimons]="digimons"></app-digimons-gallery>-->

  <!--  <ng-template #digimonsTableBasic>-->
  <!--    <app-digimons-table-basic [digimons]="digimons"></app-digimons-table-basic>-->
  <!--  </ng-template>-->


</div>


