:root{
    --font-family-base: Raleway;
}

@font-face {
    font-family: Raleway;
    src: url('assets/fonts/Raleway-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Raleway;
    src: url('assets/fonts/Raleway-Black.ttf');
    font-weight: bolder;
}

@font-face {
    font-family: Raleway;
    src: url('assets/fonts/Raleway-Light.ttf');
    font-weight: light;

}